.account{
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: auto;
    background: #000000;

    &-card{
        // flex: 1;
        padding: 1px 0;
        text-align: center;
        width: 400px;
        top: 30%;
        margin: 0 auto;

        &-title{
            font-size: 34px;
        }

        &-reset a{
            float: right;
        }
    }
}